PORT=
JWT_SECRET=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

MINIO_USER=
MINIO_PASSWORD=
MINIO_HOST=
MINIO_API_PORT=
MINIO_WEB_PORT=
MINIO_BUCKET=
MINIO_REGION=
