PORT=3000
JWT_SECRET=73d83b81f538b254b87c2d66103680723ef15a0618e0870fecc5712b9aef
FRONTEND_URL=http://localhost:4200
BACKEND_URL=http://localhost:3000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres123
POSTGRES_DB=trackerdb
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

REDIS_PASSWORD=redis123
REDIS_HOST=localhost
REDIS_PORT=6379

MINIO_USER=minio
MINIO_PASSWORD=minio123
MINIO_HOST=localhost
MINIO_API_PORT=9000
MINIO_WEB_PORT=9001
MINIO_BUCKET=uploads
MINIO_REGION=us-east-1
